@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 100% 98%;
    --foreground: 262 100% 61%;
    --card: 249 100% 98%;
    --card-foreground: 262 100% 61%;
    --popover: 249 100% 98%;
    --popover-foreground: 262 100% 61%;
    --primary: 262 100% 61%;
    --primary-foreground: 249 100% 98%;
    --secondary: 249 100% 98%;
    --secondary-foreground: 262 100% 61%;
    --muted: 249 100% 98%;
    --muted-foreground: 262 100% 61%;
    --accent: 262 100% 61%;
    --accent-foreground: 249 100% 98%;
    --accent-hover: 262 100% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 100% 61%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 262 100% 8%;
    --foreground: 249 100% 98%;
    --card: 262 100% 8%;
    --card-foreground: 249 100% 98%;
    --popover: 262 100% 8%;
    --popover-foreground: 249 100% 98%;
    --primary: 249 100% 98%;
    --primary-foreground: 262 100% 8%;
    --secondary: 262 100% 8%;
    --secondary-foreground: 249 100% 98%;
    --muted: 262 100% 8%;
    --muted-foreground: 249 100% 98%;
    --accent: 262 100% 61%;
    --accent-foreground: 249 100% 98%;
    --accent-hover: 262 100% 70%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 262 100% 25%;
    --input: 262 100% 25%;
    --ring: 262 100% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
